.item-card {

    width: 400px;
    height: 380px;
    margin-top: -100px;
    grid-area: 3 / 3 / 7 / 5;
    justify-self: center;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);


    .card-row {
        display: flex;
        justify-content: space-between;
        margin: 0;

        .tags {
            font-weight: bold;
        }
    }
}