.item {

    cursor: pointer;

    .toast {
        width: 100%;
        max-width: none;
        margin-bottom: 10px;

        .toast-body {
            display: flex;

            justify-content: space-between;
        }
    }


}