.App {
  height: 750px;
  width: 900px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 20px;
 


}


h1 {
  margin-bottom:  15px;
  text-align: center;
}
.scrollable {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: 100px;
}

.scrollable::-webkit-scrollbar { 
  display: none;  
}
  
.input-group {
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;

}

.grid-column {
  display: flex;
  flex-flow: column;
}